 *{
   margin: 0;
    padding: 0;
    font-family: century Gothic;
}

.content
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
    padding-top: 40px;
    padding-bottom: 10%;
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-color: white;
}

nav ul
{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    
}

nav ul li
{
    display: inline-block;
}

nav ul li a
{
    text-decoration: none;
    color:  #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    
}

nav ul li a:hover
{
    background-color: #fff;
    color: #000;
}

nav ul li.active a
{
    background-color: #fff;
    color: #000;
}
.logo img
{
    float: left;
    width: 150px;
    height: auto;
}
.main
{
    max-width: 1200px;
    margin: auto;
}
.title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.title h1
{
    color: #fff;
    font-size: 70px;
}

.button
{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn
{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover
{
     background-color: #fff;
    color: #000;
}
aside {
    width: 40%;
    padding-left: 55px;
    margin-left: 55px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #fff;
    font-style: italic;
    color: #fff;
}

aside  p {
    margin: 55px;
}

p {
    float: right
    font-family: 'Fira Sans', sans-serif;
}

/*-----------About section--------*/
#aboutus
{
   background: white;
    padding-top: 150px;
    padding-bottom: 4%;
    color: #fff;
     background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/About.jpg);
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-color: white;
    
  
}
#aboutus .btn
{
  margin-top: 20px;
  margin-bottom: 30px;
    
}
.about-contenent
{
    padding-top: 20px;
}
.col_detail 
{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 50px;
    column-width: 10px;
    column-span: all;
    padding: 2px;
    background-color: #000000;
    float: left;
}

p 
{
    color: white;
}

h4,h3
{
    color: white;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: silver;
}
/*-------------------get in touch------------*/
.contact
{
    background: #efefef;
    padding-top: 150px;
    padding-bottom: 7%;
    color: #777;
     background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/contact1.jpg);
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-color: white;
   
}

.Form {
    margin: 15px, 200px;
    padding: 20px;
    border: dotted black;
     min-height: 500px;
}

.container{
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: left;
}

.required {
    font-weight: bold;
    color: red;
}

label {
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
    color: white;
    
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
    
}

/*----------------------Our Location-------------------------*/

.Location
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/maps.jpg);
    padding-top: 30px;
    padding-bottom: 10%;
    height: 100vh;
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-color: white;
}
.map
{
    margin-right: 30%;
}



/*----------------------Videoooooo-------------------------*/

.content-v
{
    
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/video.jpg);
    padding-top: 30px;
    padding-bottom: 120%;
    height: 100vh;
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-color: white;
    
}

.code
{
     margin: 15px, 20px;
    padding: 10px;
   
    
}


.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.column p
{
    float: left;
    
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
h2 
{
    color: darkred;
}

.column p {
    color: white;
    float: left;
    float: 15px 20px;
    padding-right: 10%;
    position: relative;
    
}
}
/*----------------------footer-------------------------*/

.footer
{
   
    clear: both;
    border: 2px solid white;
    padding: 0;
    margin:0;
    position: relative;
    bottom: 0px;
    width: 100%;
   text-align: center;
    
    

}
.footer p
{
    position: absolute;
    top: 100%;
   left: 50%;
    transform: translate(-50%,-50%);
    
    text-align: center;
    color: white;
}
.footer1
{
     background-color: black;
    color: white;
  padding: 2px;
  text-align: center;
}

 